@font-face {
    font-family: 'Grandstander';
    src: url('../assets/fonts/grandstander_/Grandstander-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/grandstander_/Grandstander-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Grandstander';
    src: url('../assets/fonts/grandstander_/Grandstander-Thin.woff2') format('woff2'),
        url('../assets/fonts/grandstander_/Grandstander-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    --yellow: #B3851C;
    font-family: 'Grandstander';
}

img.header-icon {
    width: auto;
    height: 34px;
}

.header-button {
    border: none;
    background-color: white;
    display: flex;
}

.span-header {
    padding-left: 20px;
    font-size: 17px;
}

nav.nav-header {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 50px;
}

.header-button {
    display: flex;
    align-items: center;
    color: var(--yellow);
}

.header-icon {
    filter: brightness(0) saturate(100%) invert(56%) sepia(64%) saturate(713%) hue-rotate(10deg) brightness(71%) contrast(91%);
}